body{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.NavBar{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20%;
    
    background-color: bisque;
    color: black;
}

.container{
    background-color: beige;
    height: 80%;
}

.side-nav{
    display: flex;
    justify-content: center;
    width: 25%;
    background-color: azure;
    float: left;
    height: 500px;
}

.main-body{
    display: flex;
    justify-content: center;
    width: 75%;
    height: 500px;
}

.form-element{
    display: flex;
    justify-content: center;
    padding: 10px;
    background-color: turquoise;
    border-radius: 3px;
}

.input-label{
    padding: 10px;
}

.input-box{
    padding: 10px;

}

.submit-button{
    
    padding: 10px;
    border:none;
    border-radius: 3px;
    background-color: azure;
    font-size: 15px;
}