body{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.NavBar{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20%;
    
    background-color: purple;
    color: white;
}

.container{
    background-color: rgb(255, 251, 0);
    height: 80%;
}

.side-nav{
    display: flex;
    justify-content: center;
    width: 25%;
    background-color: black;
    color: white;
    float: left;
    height: 1000px;
}

.main-body{
    display: flex;
    justify-content: center;
    width: 75%;
    height: 1000px;
}

.form-element{
    display: flex;
    justify-content: center;
    padding: 10px;
    background-color: turquoise;
    border-radius: 3px;
}

.input-label{
    padding: 10px;
}

.input-box{
    padding: 10px;

}

.submit-button{
    
    padding: 10px;
    border:none;
    border-radius: 3px;
    background-color: azure;
    font-size: 15px;
}

.activity-show{
    height: 5%;
    width: 100%;
    background-color: azure;
    color: black;
    font-size: 15px;
}