body{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background: linear-gradient(to bottom, #512DA8, #7D3C98);
}

.NavBar{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20%;
    
    /* background-color: purple; */
    
    color: white;
}

.container{
    /* background-color: rgb(255, 251, 0); */
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 4px;
    height: 80%;
}

.side-nav{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 25%;
    border-radius: 4px;
    background-color: black;
    color: white;
    float: left;
    height: 1000px;
}

.main-body{
    display: flex;
    justify-content: center;
    background: linear-gradient(to bottom, #FFD700, #FFA500);
    width: 75%;
    height: 1000px;
}

.form-element{
    display: flex;
    justify-content: center;
    padding: 10px;
    background-color: #f36f17;
    box-shadow: 0 0 10px rgba(243, 243, 243, 0.949);
    color: white;
    border-radius: 3px;
}

.form-element:hover{
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(255, 77, 0, 0.949);
    color: black;
}

.input-label{
    padding: 10px;
}

.input-box{
    padding: 10px;

}

.submit-button{
    
    padding: 10px;
    border:none;
    border-radius: 3px;
    background-color: #ffffff;
    height:100%;
    width:100%;
    font-size: 15px;
}

.submit-button:hover{
    background-color: #f36f17;
    box-shadow: 0 0 10px rgba(255, 77, 0, 0.949);
    color: white;
}

.activity-show{
    display: flex;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    border: 1px yellow solid;
    height: 5%;
    width: 90%;
    background-color: azure;
    color: black;
    font-size: 15px;
}

.activity-show:hover{
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(255, 208, 0, 0.949);
}

.side-nav-title{
    diaplay:flex;
    padding: 5px;
    justify-content: center;
}